<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.piv.modeAirplane"
        version="0.0.1">

    <name>modeAirplane</name>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/pluginMode.js" name="pluginModeair">
        <clobbers target="pluginMode"/>
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="modeAirplane">
                <param name="android-package" value="com.piv.modeAirplane.pluginModeair"/>
            </feature>
        </config-file>

        <source-file src="src/android/pluginModeair.java" target-dir="src/com/piv/modeAirplane" />

    </platform>

</plugin>